<!doctype html>
<html ng-app="app">

    <head>
    
       
        
    </head>
    
    <body ng-controller="appCtrl">
        
     <div class="flex-container">
      
       <left-dir></left-dir>
         
         
          <right-dir></right-dir> 
         
         
        
        </div>   
        
    <link rel="stylesheet" type="text/css" href="/Person_Form/css/decoration.css"> 
    <link rel="stylesheet" href="/Person_Form/node_modules/">   
        
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!--    <script type="text/javascript" src="/Person_Form/js/app.js/"></script>-->
    <script type="text/javascript" src="/js/controllers/appCtrl.js"></script>
    <script type="text/javascript" src="/Person_Form/js/services/productService.js"></script>
    <script type="text/javascript" src="/Person_Form/js/directives/leftDir.js"></script>  
    <script type="text/javascript" src="/Person_Form/js/directives/rightDir.js"></script> 
    <script type="text/javascript" src="/Person_Form/js/directives/landingDir.js"></script>  
   
    </body>
    
</html>